# =========================
# Java / Maven
# =========================

target/
*.class

# =========================
# Node / React / Vite
# =========================

node_modules/
dist/

# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db